{% include "servers/_snapshot_freshness.html" with source=collection.observation.source %}
{% if collection.entries %}
  <dl class="barectl-facts">
    {% for entry in collection.entries %}
      <div>
        <dt><code>{{ entry.name }}</code>{% if entry.qualifier %} ({{ entry.qualifier }}){% endif %}</dt>
        <dd>
          {% with observation=entry.observation %}
            {% if observation.lines %}
              <span class="barectl-line">{% include "servers/_lines.html" with lines=observation.lines %}</span>
            {% endif %}
            <span class="barectl-line">Read from {% for read in observation.source %}<code>{{ read }}</code>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
            {% include "servers/_observation.html" with observation=observation %}
          {% endwith %}
        </dd>
      </div>
    {% endfor %}
  </dl>
{% endif %}
{% include "servers/_observation.html" with observation=collection.observation %}
