{% if perms.bootstrap.view_configurationplan %}
  <p id="plans"><a href="{% url 'server_setup' server.pk %}#plans">Reviewed hosting Setup</a></p>
{% endif %}
{% if perms.sites.view_siteplan %}
  <p id="site-plans"><a href="{{ site_creation_url }}">Reviewed site creation</a></p>
{% endif %}
{% if perms.databases.view_databaseplan %}
  <p id="database-plans"><a href="{% url 'server_advanced' server.pk %}#database-plans">Database workflows</a></p>
{% endif %}
{% if perms.tls.view_tlsplan %}
  <p id="tls-plans"><a href="{% url 'server_advanced' server.pk %}#tls-plans">HTTPS workflows</a></p>
{% endif %}
